.containerDesign{
    margin-top: 13%;
    text-align: center;
}

.heading{
    font-size: 70px;
    font-weight: 200px;
    color: navy;
}

.but1{
    width: 80%;
    font-size: 20px;
    border-radius:10px;
    color: white;
}

.but2{
    width: 80%;
    margin-top: 15px;
    font-size: 20px;
    border-radius:10px;
}